# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=

# Site
NEXT_PUBLIC_SITE_URL=https://ssgatukok.se

# eOrder
NEXT_PUBLIC_EORDER_URL=https://app.esorder.se/menu/sv/395
